.mainNavigation {
  width: 100%;
  height: 60px;
  background-color: #e0e7ff;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  position: fixed;
  top: 0;
}
.mainNavigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainNavigation ul li {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.signin a {
  padding: 10px 15px;
  background-color: #4338ca;
  color: #fff;
}
