.mainNavigation {
  width: 100%;
  height: 60px;
  background-color: #dbeafe;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.mainNavigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainNavigation ul li {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.mainNavigation ul li a {
  color: #7c3aed;
}
.mainNavigation ul li a:hover {
  padding: 7px 10px;
  background-color: #8b5cf6;
  color: #fff;
  border-radius: 5px;
}
