.productItemList {
  display: flex;
  border: 1px solid #ccc;
  background-color: #fff;
  flex-direction: column;
  max-width: 1170px;
  flex: 1;
  padding: 1rem;
}
.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.productItem .productImage {
  width: 100px;
  height: 100px;
}
.productItem .productImage img {
  width: 100%;
  height: auto;
}
.productSummery {
  display: flex;
  border: 1px solid #ccc;
  background-color: #fff;
  flex-direction: column;
  max-width: 1170px;
  width: 30%;
  margin-left: 2rem;
  padding: 1rem;
}
.productCenter {
  display: flex;
  width: 90vw;
  justify-content: center;
  margin-top: 4rem;
}
.buying {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .delete {
  margin-left: 10px;
  background-color: red;
} */

.productItemSummery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.productItemSummery.hr {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.group {
  display: flex;
}

.btnGroup {
  outline: none;
  color: #6d28d9;
  border: 2px solid #6d28d9;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
}

.btnGroup:first-child {
  border-radius: 5px 0 0 5px;
}
.btnGroup:first-child:hover {
  background-color: #6d28d9;
  color: #fff;
}
.btnGroup:last-child {
  border-radius: 0 5px 5px 0;
}
.btnGroup:last-child:hover {
  background-color: #6d28d9;
  color: #fff;
}
.btnGroup:nth-child(2) {
  border-left: 0;
  border-right: 0;
  cursor: not-allowed;
}
