.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 50%;
}
.header {
  background-image: url(../assets/free.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section-title .title h1 {
  font-size: 30px;
}
.title {
  margin-top: 8rem;
}
.section-image {
  width: 70%;
  height: 100%;
}
.title-header {
  text-align: left;
}

.title p {
  text-align: left;
  font-size: 14px;
}
.btnhome {
  padding: 10px 15px;
  background-color: #4338ca;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px 10px 0 0;
}
.btn:hover {
  opacity: 80%;
}
.btn-title {
  text-align: left;
}
